
# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# Logs
*.log
*.txt

# PyTorch models
*.pt
*.ptl
*.onnx

# Archives
*.zip
*.tar
*.tar.gz

# Android extracted APKs
pulled_apk_*/
android/pulled_*/

# Flutter build artifacts
build/

# Large extracted APKs
android/pulled_apk_unzipped/
android/pulled_apk_unzipped_new/
android/pulled_app.zip
android/pulled_app_new.zip